/* mpa css */
.map-container {
  position: relative;
  overflow: hidden;
  margin-top: 6rem;
}
.map__floor-container {
  position: absolute;
  right: clamp(2rem, 5.0890585242vw, 3rem);
  top: clamp(2rem, 5.0890585242vw, 3rem);
  z-index: 10;
}
@media (max-width: 374px) {
  .map__floor-container {
    right: min(4.5801526718vw, 3rem);
    top: min(4.5801526718vw, 3rem);
  }
}
.map__floor-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1px;
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.map__floor-list li {
  width: clamp(5.6rem, 14.2493638677vw, 8.4rem);
  height: clamp(4.8rem, 12.213740458vw, 7.2rem);
  background: #fff;
}
@media (max-width: 374px) {
  .map__floor-list li {
    width: min(12.8244274809vw, 8.4rem);
    height: min(10.9923664122vw, 7.2rem);
  }
}
.map__floor-list li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #222;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.6rem, 4.0712468193vw, 2.4rem);
  line-height: 1.2;
  cursor: pointer;
}
@media (max-width: 374px) {
  .map__floor-list li a {
    font-size: min(3.6641221374vw, 2.4rem);
  }
}
.map__floor-list li.active {
  background: #D90833;
}
.map__floor-list li.active a {
  color: #fff;
}
.map__img-list > div {
  display: none;
}
.map__img-list > div svg {
  opacity: 0;
  will-change: opacity;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100vw;
  height: calc(100vh - 6.2rem);
  height: calc(100dvh - 6.2rem);
}
.map__img-list > div.active {
  display: block;
}
.map__zoom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(0.4rem, 1.0178117048vw, 0.6rem);
  position: absolute;
  right: clamp(2rem, 5.0890585242vw, 3rem);
  bottom: clamp(2rem, 5.0890585242vw, 3rem);
  z-index: 10;
}
@media (max-width: 374px) {
  .map__zoom-container {
    gap: min(0.9160305344vw, 0.6rem);
    right: min(4.5801526718vw, 3rem);
    bottom: min(4.5801526718vw, 3rem);
  }
}
.map__zoom-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(5.6rem, 14.2493638677vw, 8.4rem);
  height: clamp(5.6rem, 14.2493638677vw, 8.4rem);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  background-size: clamp(1.6rem, 4.0712468193vw, 2.4rem) auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
@media (max-width: 374px) {
  .map__zoom-container button {
    width: min(12.8244274809vw, 8.4rem);
    height: min(12.8244274809vw, 8.4rem);
  }
}
@media (max-width: 374px) {
  .map__zoom-container button {
    background-size: min(3.6641221374vw, 2.4rem) auto;
  }
}
.map__zoom__btn-in {
  background: #222 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='18' viewBox='0 0 16 18' fill='none'%3E%3Cpath d='M6.54545 0.5H9.45455V17.5H6.54545V0.5Z' fill='white'/%3E%3Cpath d='M0 10.0625V7.22917H16V10.0625H0Z' fill='white'/%3E%3C/svg%3E");
}
.map__zoom__btn-out {
  border: 1px solid #DBDBDB;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4' viewBox='0 0 16 4' fill='none'%3E%3Cpath d='M0.5 2.91665V1.08331H15.5V2.91665H0.5Z' fill='black' stroke='black'/%3E%3C/svg%3E");
}