/*slide popup*/
.popup-wrap {
  position: fixed;
  top: 100%; // 구버전 브라우저 대응
  top: 100lvh;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff; 
  overflow-y: scroll;
  z-index: 1002;
  
  &.slideUp {
    animation: slideUp 0.3s ease-out forwards;
  }

  &.slideDown {  
    animation: slideDown 0.5s forwards;
  }

  &.popup-hidden { 
    display: none;
  }

  .close-btn {
    position: fixed;
    right: 1.5rem;
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50px;
    background: var(--background-white);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin-top: 1.5rem;
    cursor: pointer;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3.4rem;
      height: 3.4rem;
      background: url('../images/common/icon_pop_close.svg') center no-repeat ;
    }
  }
  
  .popup-{
    &conts {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .pop-{
        /* img area */
        &img {
          width: 100%;
          background: #ddd;
          box-sizing: border-box;

        }
        // img area
        
        /* detail area */
        &detail {
          width: 100%;
          .ev-{
            &top-info {
              // position: relative;
              background: var(--background-white);
              .tit {
                font-size: 3.0rem;
                font-weight: 700;
                line-height: 140%;
                letter-spacing: -0.6px;
                color: var(--color-title);
                word-break: keep-all;
                padding: 2.4rem 2.4rem 0;
              }
              .period {
                font-family: "Morn", "Noto Sans KR", sans-serif;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 120%;
                color: var(--color-red);
                letter-spacing: -0.28px;
                padding: 0 2.4rem;
                word-break: keep-all;
              }
              &::after{
                content: '';
                display: block;
                width: 100%;
                height: .1rem;
                background-color: #ddd;
                margin: 4rem 0;
                padding: 0;
              }
              &:has(.period) .tit{
                margin-bottom: .8rem;
              }
            }

            &mid-info {
              &::after{
                content: '';
                display: block;
                width: 100%;
                height: .1rem;
                background-color: #ddd;
                margin: 4rem 0;
                padding: 0;
              }
              li{
                display: grid;
                grid-template-columns: 10rem auto;
                font-size: 1.6rem;
                line-height: 160%;
                font-weight: 400;
                color: var(--color-gray);
                margin: 0 2.4rem;
                &:not(:last-child) {
                  padding-bottom: .8rem;
                }
                strong {
                  font-weight: 700;
                  color:var(--color-title);
                }
                span {
                  padding-left: 1rem;
                }
              }
              .guide-info {
                grid-template-columns: none;
                p{
                  padding-top: 1rem;
                }
                ul {
                  padding-top: 0.4rem;
                  li {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin: 0;
                    word-break:keep-all;
                    &::before {
                      content: '';
                      display: block;
                      width: 0.4rem;
                      height: 0.4rem;
                      border-radius: 50%;
                      background:var(--color-content1);
                      margin-right: 0.4rem;
                    }
                    &:not(:last-child) {
                      padding-bottom: 0.4rem;
                    }
                  }
                }
              }
            }
            &btm-detail {
              padding: 0 2rem 8rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 160%;
              color: var(--color-gray);
              letter-spacing: -0.02rem;
              word-break:keep-all;
              img {
                width: 100%;
                &:not(:last-child) {
                  margin-bottom: 3.7rem;
                }
              }
            }
          }
        }
        // detail area
      }
      &:not(:has(.pop-img)) .pop-detail {
        padding-top: 6rem;
      }
    }
  }

  &#popup-map{
    .popup-header{
      position: fixed;
      width: 100%;
      height: 6rem;
      display: grid;
      grid-template-areas: "left center right";
      grid-template-columns: 4.4rem auto 4.4rem;
      width: 100%;
      height: 6rem;
      background-color: var(--background-white);
      z-index: 1;
      overflow: hidden;
      h1, 
      .close-btn{
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }
      h1 {
        font-size: 1.6rem;
        grid-area: center;
        justify-content: center;
      }
      .close-btn {
        justify-content: center;
        grid-area: center;
        background: none;
        box-shadow: none;
        margin-top: 1.8rem;
        cursor: pointer;
        &::before {
          content: '';
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          background: url('../images/common/icon_close.svg') center / cover no-repeat;
        }
      }
    }
  }

  @keyframes slideUp {
    from {
      top: 100%; // 구버전 브라우저 대응
      top: 100lvh;
    }
    to {
      top: 0;
    }
  }
  @keyframes slideDown {
    from {
      top: 0;
    }
    to {
      top:100%; // 구버전 브라우저 대응
      top: 100lvh;
    }
  }
}

@media screen and (min-width:768px){
	.close-btn {
    margin-right: 1.5rem;
  }
}