.slide-enter-to,
.slide-leave-from {
    transform:translateX(0);
    transition-duration: 0.5s;
}

.slide-enter-from,
.slide-leave-to {
    transform:translateX(0%);
    transition-duration: 0.5s;
}

.slide-wrap{
    position:fixed;
    width:70%;
    height:100%;
    top:0;
    left:0;
    background-color:#808080;
    z-index:999;
    button{
        color:#fff;
    }
}